Package: fphisher
Version: 2.2
Installed-Size: 9400
Architecture: all
Maintainer: @iamprashu
Depends: php, wget, git, curl, resolv-conf, proot
Homepage: https://github.com/iamprashu
Description: An automated phishing tool with 30+ templates. This Tool is made for educational purpose only !
